<!DOCTYPE html>
<html lang="en">

<head>
    <title>Family Board</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</head>

<body>

    <div class="board">

        <div class="imageContainer">
            <div class="imageOverlay">
                <div class="clock">
                    Loading...
                </div>
                <div class="imageCreated">
                    Loading...
                </div>
            </div>
        </div>

        <div class="main">
            <div id="calendar">
                <div>Loading...</div>
            </div>
            <div class="statusBar">
                <div id="message">
                    Loading...
                </div>
                <div id="status">
                    Loading...
                </div>
            </div>
        </div>

    </div>

    <!-- placeholder for pre-loading image -->
    <div style="display:none;visibility:hidden;">
        <img id="image" onload="updateImage();" />
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            startTime();

            function startTime() {
                var today = new Date();
                var h = today.getHours().toString().padStart(2, "0");
                var m = today.getMinutes().toString().padStart(2, "0");
                var s = today.getSeconds().toString().padStart(2, "0");
                $(".clock").html(h + ":" + m + "<span class='sec'>" + s + "</span>");
                var t = setTimeout(startTime, 500);
            }
        });

        function updateImage() {
            $(".imageContainer").css({
                background: "#000 url(" + $("#image").attr("src") + ") center center",
                backgroundSize: "cover",
                backgroundRepeat: "no-repeat"
            });
            $(".imageCreated").html($("#image").attr("alt"))
        }
    </script>

</body>

</html>